html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.text {
  padding: 10px;
  font-size: 17px;
  line-height: 1.7;
}

.footer {
  background-color: #282424;
  color: white;
  text-align: center;
  padding: 50px;
  margin-top: 70px;
}

.body__background--dark {
  background-color: #4b4a49;
}
