table {
    width: 100%;
    border-collapse: collapse;
    background-color: #dddada;
    color: #030303;
    font-size: 20px;
    text-align: left;
    caption-side: bottom;
    box-shadow: 5px 5px 15px 1px #030303;
    color: #c5c3c3;
}

.table__caption{
    margin-top: 15px;
}

.table__contener {
    overflow-x: auto;
}

.table__header {
    background-color: #2e2d2d;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 7px;
    border: 1px solid black;
}

.table__row {
    color: black;
}

.table__row:nth-child(even) {
    background-color: #b8b7b7;

}

.table__row:hover {
    background-color: #858382;
    color: white;
}

.table__item {
    border: 1px solid black;
    padding: 5px;
}

.table__button {
    font-size: 12px;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.table__button:hover {
    background-color: rgba(255, 255, 255, 0.74);
    color: black;
    box-shadow: 0px 0px 5px 2px #FFFFFF;
}

.table__buttonDiv {
    text-align: center;
}